<div id="LobbyInfo">
  <h2 id="LobbyName"></h2>
  <ul id="UsersList"></ul>

  <button type="submit" id="StartGameBtn">Start</button>
</div>
<div id="InfoMessage"></div>
<div id="GameTimer"></div>
<div id="Score"></div>

<script>
  window.lobbyId = "<%= @lobby_id %>"
  window.userId = <%= @user_id %>
</script>
