#InfoMessage {
  display: none;

  width: 300px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 250px;
  z-index: 10;

  background-color: rgba(120, 211, 210, 0.9);
  border: 2px solid rgb(56, 173, 171);
  border-radius: 2px;

  text-align: center;
  line-height: 100px;

  color: white;
  font-size: 20px;
}

#GameTimer {
  display: none;

  position: absolute;
  width: 100px;
  top: -2px;
  left: 650px;

  font-size: 20px;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
}

#Score {
  position: absolute;
  width: 100px;
  top: -2px;
  left: 350px;

  font-size: 20px;
  text-align: center;
  color: rgba(51, 51, 51, 0.9);
}

#GameCanvas {
  position: absolute;
}

.motile-round-object {
  position: absolute;
  border-radius: 50%;
}

.ball {
  background-color: rgb(250, 236, 112);
  border: 1px solid rgb(0, 0, 0);
}

.user-player {
  background-color: rgb(225, 172, 74);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 4px 8px rgba(20, 20, 20, 0.2);
}

.alley-player {
  background-color: rgb(225, 204, 102);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 4px 8px rgba(20, 20, 20, 0.2);
}

.enemy-player {
  background-color: rgb(226, 98, 75);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 4px 8px rgba(20, 20, 20, 0.2);
}
